/* .card {
    flex-basis: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background: lightgreen;
} */

.flip-card {
    background-color: transparent;
    height: 40%;
    width: 16%;
    width: --card-width;
    border: none;
    /* perspective: 1000px; */
    margin: 2px;
    font-size: 20px;
    cursor: pointer;
}

.flip-card img {
   width: 100%;
}

.flip {
    transition: transform 0.5s;
    transform: rotateY(180deg);
}



.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* transition: transform 0.5s; */
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.flip-card-front img {
    border-radius: 20px;
}


.flip-card-back {
    transform: rotateY(180deg);
    background-color:  rgb(156, 222, 248);
    border: 5px solid rgb(130, 126, 79);
    border-radius: 20px;
    border-collapse: separate;
}
